@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



#home {
    position: relative;
    background: url("../../assets/bgIMG.png");
    background-size: cover; // bg img coversentire container
    background-position: center;
    background-repeat: repeat;

    // Nested styles for a child with class `app__wrapper`
    .app__wrapper {
        padding: 0; // Removes padding from the wrapper

        .copyright {
            display: none; // Hides elements with class `copyright` inside `app__wrapper`
        }
    }
}


.app__header {
    flex: 1; //Allows this container to grow/shrink and take up available space
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 6rem 2rem 0rem; //top,sides,bottom

    // Media query for screens wider than 2000px
    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    // For screens narrower than 1200px, Stacks children vertically
    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    // For very small screens (<450px)
    @media screen and (max-width: 450px) {
        padding: 6rem 1rem 2rem;
    }
}


.app__header-info {
    flex: 0.75; // Takes 70% of space
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Aligns children at the top
    align-items: flex-start; // Aligns children to the left
    height: 100%;
    margin: 0 2rem; // Adds horizontal spacing
    margin-top: 3rem;

    @media screen and (max-width: 1200px) {
        width: 100%;
        margin-right: 0rem;
    }
}

.app__header-badge {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; //Aligns the content to the bottom-right corner of the container
    flex-direction: column;

    //bg effect behind texts
    .badge-cmp {
        padding: 1rem 2rem;
        background: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;
        font-weight: 900;

        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

        // Text-specific alignment
        p {
            font-size: 1rem;
            text-align: left; // Align paragraph text to the left
        }

        .head-text {
            display: inline; // Ensure the text stays inline
            white-space: nowrap; // Prevent wrapping to the next line
            margin: 0; // Remove any default margin that might cause alignment issues
            text-align: left; // Align heading text to the left
        }
    }

    //tag cmp styling - freelancer/web developer
    .tag-cmp {

        padding: 1rem 2rem;
        background: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;

        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

        flex-direction: column;
        margin-top: 3rem;

        p {
            font-size: 1rem;
            width: 100%;
        }
    }

    //emoji styling
    span {
        font-size: 3rem;
        margin-right: 1rem; // Add space between the emoji and text


        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }
    }

    //badge aligns to the top-left corner (flex-start) instead of the bottom-right.
    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }

}



.app__header-circles {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;

    div {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        background: var(--white-color);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

        img {
            width: 60%;
            height: 60%;
        }
    }

    // circles with different height & width
    div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    div:nth-child(2) {
        margin: 1.75rem;
        width: 150px;
        height: 150px;
    }

    div:nth-child(3) {
        width: 110px;
        height: 110px;
    }

    @media screen and (min-width: 2000px) {
        div:nth-child(2) {
            width: 400px;
            height: 400px;
        }

        div:nth-child(3) {
            width: 170px;
            height: 170px;
        }

        div:nth-child(1) {
            width: 200px;
            height: 200px;
        }
    }

    @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;

        div {
            margin: 1rem;
        }
    }
}

.app__header-img {
    flex: 1; // Takes remaining space
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; // Aligns image to the right bottom
    position: relative;

    img {
        width: 100%;
        object-fit: contain; // Ensures the image doesn't get distorted
        z-index: 1;
    }

    .overlay_circle {
        position: absolute; // Positions the overlay relative to the container
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0; // Sends it behind the main image
        width: 100%;
        height: 90%;
    }

    @media screen and (max-width: 1200px) {
        margin: 2rem 0;
    }
}



.head-text-name {

    display: inline;        // Ensure the text stays inline
    white-space: nowrap;    // Prevent wrapping to the next line
    margin: 0;              // Remove any default margin that might cause alignment issues

    font-size: 2.5rem;
    font-weight: auto;
    text-align: center;
    color: #2F4F4F; 
    text-transform: capitalize;

    font-family: 'Anton SC', sans-serif; /* Apply Anton SC for a bold, impactful look */


    span {
        color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
        font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 2rem;
    }
}

.p-text-name {
    font-size: 7 rem;
    text-align: left;
    color: #6C757D ;
    line-height: 1.5;
    font-family: 'Space Grotesk';
    @media screen and (min-width: 2000px) {
        font-size: 1.75rem;
    }
}